@media (max-width: 960px),
(max-height: 600px) {
    nav img, nav a input {
        min-height: 20px;
        min-width: 20px;
        width: 20px;
        height: 20px;
        max-height: 20px;
        max-width: 20px;
    }

    nav > a {
        height: 20px;
        width: 20px;
    }

    fieldset > *:nth-child(n + 3) {
        /*On évite la légende et le premier bouton*/
        margin-top: 5px;
    }

    #content {
        margin-left: 60px;
    }
}

@media (min-width: 960px) {
    nav img, nav a input {
        max-height: 40px;
        max-width: 40px;
        min-height: 40px;
        min-width: 40px;
        width: 40px;
        height:40px;
    }

    nav > a {
        height: 40px;
        width: 40px;
    }

    fieldset > *:nth-child(n + 3) {
        /*On évite la légende et le premier bouton*/
        margin-left: 5px;
    }

    #content {
        margin-left: 80px;
    }
}

@media all {
    html {
      height: 100%;
    }

    body {
        display: flex;
        flex-direction: row;
        margin: 0px;
        align-items: stretch;
        height: 100%;
        font-family: "Dosis", "Palatino Linotype", "Book Antiqua", Palatino, serif;
        background-image: url("../img/montage.png");
        background-size: cover;
        background-attachment: fixed;
        color: white;
        transition: all 0.5s;
    }

    nav {
        position: fixed;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: space-around;
        padding: 10px;
        align-items: center;
    }

    nav * {
        transition: all 0.25s;
        transition-timing-function: ease-out;
    }

    nav > a:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    nav img {
        width: auto;
        height: auto;
    }

    nav > a {
        display: flex;
        color: lightgreen;
        text-decoration-line: none;
        /*background-color: darkslategrey;*/
        padding: 10px;
        border-radius: 10px;
        justify-content: center;
    }

    a:hover {
      color: crimson;
      cursor: pointer;
    }

    a {
      color: white;
    }

    hr {
      width: 80%;
      line-height: 1;
      color: white;
      border: 1px solid white;
      border-radius:10px;
    }

    article {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 10px;
        flex: 0 2 auto;
        align-items: flex-start;
    }

    article .figure {
        align-self: center;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article img {
        max-width: 100%;
    }

    article p {
      text-align: justify;
      margin-bottom: 0px;
      margin-top: 0.5em;
    }

    h2, h3, h4 {
      margin: 0.5em 0 0.5em 0;
    }

    h1 {
      align-self: center;
    }

    .articles {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;

    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }

    footer {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;
    }

    footer > * {
        max-height: 2em;
        display: flex;
        margin: 0px 10px 0px 0px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 0.5em;
    }

    #auth {
        display: none;
        flex-direction: column;
        align-items: stretch;
        transition: all 1s opacity 0.5s;
    }

    #auth > * {
        padding: 5px;
        margin-bottom: 10px;
    }

    #auth .submit_div {
        display: flex;
        justify-content: space-between;
    }

    input,
    .labelfield,
    select,
    button {
        padding: 5px;
        border-radius: 10px;
        border: none;
    }

    input[name='people'] {
        max-width: 30px;
    }

    label {
        margin-right: 5px;
    }

    fieldset {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    fieldset > form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-self: center;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    fieldset > form > * {
      margin-left: 10px;
      margin-right: 10px;
    }

    input[type="submit"],
    #sign_up {
        color: white;
        background-color: cornflowerblue;
        transition: all ease-out 0.25s;
    }

    input[type="submit"]:hover,
    #sign_up:hover {
        background-color: darkslateblue;
    }

    .imgsubmit {
      background-origin: border-box;
      background-position: center;
      background-size: 60% 60%;
      background-repeat: no-repeat;
      border-radius: unset;
      min-height: 2em;
      min-width: 2em;
      border-radius: 10px;
    }

    #notifform {
      display: flex;
      flex-direction: column-reverse;
      margin: 10px;
      width: 100%;
      justify-content: flex-start;
    }

    #notifnumber {
      display: block;
      position: absolute;
      right: 20%;
      border-radius: 100%;
      padding: auto;
      min-width: 1.3em;
      min-height: 1.3em;
      text-align: center;
      background-color: crimson;
      color: white;
      font-size: 0.8em;
      font-weight: 600;
    }

    .buttonBar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .buttonBar *:nth-last-child(n-1){
      margin-right: 1em;
    }

    form#disconnect {
      padding: 0px;
    }

    input[name="disconnect"] {
      background-origin: border-box;
      background-position: center;
      background-size: 100% 100% ;
      background-repeat: no-repeat;
      border-radius: unset;
      background-color: unset;
      background-image: url("../img/disconnection-original.png");
    }

    input[name="disconnect"]:hover {
      background-color: unset;
    }

    #my_rides {
        display: none;
    }

    fieldset {
        border-radius: 10px;
        border: 1px solid white;
    }

    .labelfield {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: arial;
        font-size: 0.9em;
        padding: 0px 0px 0px 5px;
    }

    .labelfield > input {
        margin-top: 0px;
    }

    .column-article {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    #menu_help img {
      border-radius: 10px;
    }

    #menu_help ol {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }

    #place {
        width: 40px;
    }

    .tab {
        display: flex;
        animation: fadeEffect 1s;
        flex-direction: column;
        height: auto;
        background-color: rgba(0, 0, 0, 0.2);
        border-top-left-radius: 10px;
        padding: 5px;
    }

    .tabButtons {
        display: flex;
        justify-content: flex-end;
    }

    .tabButton {
        border: none;
        padding: 5px;
        margin-left: 1px;
        border-radius: 10px 10px 0px 0px;
        background-color: cornflowerblue;
        color: white;
        transition: all 0.5s;
    }

    .tabButton.active {
        background-color: crimson;
        /*color: black;*/
    }

    .row_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #tabs {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .rider {
        flex: 0 2 auto;
    }

    .symbol {
        max-height: 0.8em;
        display: inline;
    }

    .form > form {
        display: flex;
        flex-direction: row;
    }

    .ride {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: baseline;
    }

    .rider > p,
    .passenger > * {
        margin: 0px;
    }

    ul {
        padding-left: 20px;
    }

    #inscription {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    #opinions {
      flex-direction: column;
      justify-content: center;
      width: 100%,
    }

    #opinions > h2 {
      align-self: center;
    }

    .edit_profile{
        display: flex;
        flex-direction: column;
    }

    .edit_profile input,
    select {
        margin-bottom: 10px;
    }

    .edit_profile input[type="submit"] {
        align-self: flex-end;
    }

    .edit_profile p {
        max-width: 200px;
        text-align: justify;
    }

    #day {
      max-width: 3em;
    }

    #stars {
      max-width: 2em;
    }

    textarea {
      border-radius : 10px;
      min-width: 25em;
      min-height: 4em;
      padding: 2px;
    }

    #negative_user_form {
      display: flex;
      justify-content: space-around;
    }

    #opinion_form {
      max-width: 350px;
    }

    .space-around {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items : baseline;
      width : 100%;
      margin: 10px;
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .center {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .rowcenter {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    .field {
      display: flex;
      flex-direction: column;
      margin: 10px;
    }

    input[type="number"] {
      max-width: 4em;
    }

    #price {
      max-width: 3em;
    }

    .label {
      display: flex;
      flex-direction: flex-start;
    }

    .stylish-container {
      display: flex;
      flex-direction: column;
      background-color: rgba(0,0,0,0.2);
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
    }

    .notif {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .notif > label {
      margin: 0 0 0 10px;
    }

    .popup {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 50vw;
        background-color: crimson;
        border-radius: 10px;
        animation-delay: 5s;
        animation-name: fadeout;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        padding: 10px;
    }

    .field_td {
      text-align: right;
    }

    td, th {
    	/*border : 1px solid white;*/
    	padding: 5px;
    	margin: 0px;
    }

    table {
    	/*border-collapse: collapse;*/
      border-spacing: 0;
    	border-radius: 10px;
      margin: 10px;
    }

    th {
      background-color: black;
    }

    th:not(:last-child), td:not(:last-child) {
      border-right: dotted rgba(255, 255, 255, 0.3);
    }

    td input {
      background-color: rgba(255, 255, 255, 0);
      color: white;
    }

    table tr:nth-child(2n+1) td{
      background-color: rgba(0, 0, 0, 0.3);
    }

    table tr:nth-child(2n) td{
      background-color: rgba(0, 0, 0, 0.1);
    }

    table tr:first-child td:first-child, table tr:first-child th:first-child{
			border-top-left-radius: 10px;
		}

		table tr:first-child td:last-child, table tr:first-child th:last-child{
			border-top-right-radius: 10px;
		}

    table tr:last-child  td:first-child {
			border-bottom-left-radius: 10px;
		}
		table tr:last-child  td:last-child {
			border-bottom-right-radius:10px;
		}
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        top: -10%;
    }
}
